window.addEventListener("DOMContentLoaded", () => {
    const style = document.createElement("style");
    style.innerHTML = `{{index .  "viewer.min.css" }}`;
    document.head.append(style);
});

{{index . "viewer.min.js" }}

{{index . "init.js" }}